body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Top Banner */
.top-banner {
    background-color: #4c3a1e;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    font-family: Rhodium Libre;
}

/* Header */
.header {
    background-color: #fdf5e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Logo */
.logo img {
    height: 60px;
}

/* Navigation Menu */
.nav-menu {
    display: flex;
    gap: 15px;
    font-family: playfair;
    font-size:20px;
}

.nav-menu a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.nav-menu a:hover {
    background-color: #464E2E;
    color: white;
}

/* Search and Cart */
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: playfair;
    width: 300px;
}

.username {
    padding: 8px;
    background-color: #e8e8e8;
    border-radius: 5px;
    font-size: 16px;
    font-family: playfair;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.product-price {
    font-size: 16px;
    color: #4caf50;
}